@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover\:translate-avatar :hover{
    transform: translateY(-7px) scale(1.02);
    transition: all 0.35s ease;
}


.appContainer_min_height {
  height: calc(100vh - 104px);
}

.appContainer_min_width {
  width: calc(100% - 64px);
}


/* button loader start */
.loader {
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* button loader end */

/* page loader start */
  .gegga {
    width: 0;
  }
  .snurra {
    filter: url(#gegga);
  }
  .stopp1 {
    stop-color: #bccff7;
  }
  .stopp2 {
    stop-color: #4361ee;
  }
  .halvan {
    animation: Snurra1 10s infinite linear;
    stroke-dasharray: 180 800;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }
  .strecken {
    animation: Snurra1 3s infinite linear;
    stroke-dasharray: 26 54;
    fill: none;
    stroke: url(#gradient);
    stroke-width: 23;
    stroke-linecap: round;
  }
  .skugga {
    filter: blur(5px);
    opacity: 0.3;
    position: absolute;
    transform: translate(3px, 3px);
  }
  @keyframes Snurra1 {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: -403px;
    }
  }
  
  /* page loader end */